@model ProjectPrettyNails.Data.Articul

@{
    ViewData["Title"] = "Delete";
}

<h1>Изтриване</h1>

<h3>Сигурни ли сте, че искате да изтриете записа?</h3>
<div>
    <h4>Продукт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.ArticulName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticulName)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Price)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Description)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL3)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.Type)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @*@Html.DisplayNameFor(model => model.DateCreated)*@
            Дата на създаване
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Изтрий" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
