@using ProjectPrettyNails.Data
@model IEnumerable<ProjectPrettyNails.Data.Service>

@{
    ViewData["Title"] = "Index";

}

<h1>Услуги</h1>
@if (User.IsInRole("Admin")) {
<p>
    <a asp-action="Create">Създай нова услуга</a>
</p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @*  @Html.DisplayNameFor(model => model.ServiceName)*@
                Име на услугата
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Price)*@
                Цена
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.Description)*@
                Описание
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.ServiceType)*@
                Тип на услугата
            </th>
            <!--<th>-->
                @* @Html.DisplayNameFor(model => model.DateCreated)*@
            <!--</th>-->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceType)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>*@
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.Id">Промени</a>
                    <a asp-action="Delete" asp-route-id="@item.Id">Изтрий</a>
                }

                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a>
            </td>
            </tr>
        }
    </tbody>
</table>
